.App {
    font-family: 'Helvetica Neue';
    text-align: center;
    color:whitesmoke
  }

p {
  color:whitesmoke
}

ul{
  list-style-type: none;
  text-align: center;
}

#title {
  font-size: 1.5em;
  padding: 20px;
  font-family: 'Helvetica Neue';
  color:bisque
}
.row {
  text-align: center;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
.row > div {
  display: block;
  width: 120px;
  height: 120px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 18px;
  font-size: 1em;
}

body {
  text-align: center;
  font-size: 1em;
  font-family: 'Helvetica Neue';
  margin: 0;
  background-color:#333;
}
AutoCompleteForm {
  color: bisque
}
h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
.row_header {
  text-align: center;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
.row_header > div {
  display: block;
  width: 120px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 18px;
  font-size: 1em;
}
.row > div {
  display: block;
  width: 120px;
  height: 120px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 18px;
  font-size: 1em;
}